:global(#content > .u-pull-right) {
  margin-top: 0;
  max-width: clamp(160px, 40%, 220px);
  margin-right: 10px !important;
  float: right;
  figure {
    max-width: 100%;
    margin-right: 0;
    transform: translate(0);
  }
  figcaption {
    display: none;
  }
}
